:root {
  --color-white-smoke: #eee;
  --color-white: #ffff;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.flex-container {
  background-color: var(--color-white-smoke);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.flex-container > * {
  background-color: var(--color-white);
  margin-bottom: 0.25rem;
  padding: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.hero {
  display: flex;
  padding: 0;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero--aside {
    margin-bottom: 0.25rem;
  }

  .hero--main {
    margin: 0;
  }

  .features > * {
    flex-wrap: wrap;
  }
}
.hero > * {
  padding: 5rem;
  background-color: var(--color-white);
  text-align: center;
}

.hero--main {
  flex-grow: 1;
  margin-left: 0.25rem;
}

.features {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.features > * {
  background-color: var(--color-white);
  width: 14rem;
  height: 17rem;
}

.fetaure-2 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.fetaure-4 {
  margin-left: 0.25rem;
}
